/ {
    leds {
        compatible = "gpio-leds";
        ledorange: led_orange {
            gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
            label = "Orange LED";
        };
    };
    aliases {
        led-orange = &ledorange;
    };
};
